h1{
    border: 50%;
    background-color: blue;
    border: 0ch;
}

div{
    color:blueviolet;
    padding: 50px;
    display: flex;
    justify-content: center;
}
section{
    color:blueviolet;
    padding: 50px;
    display: flex;
    justify-content: center;
}
